<div class = "card animated fadeIn fast">
  <img [src]="producto.imagen" class="card-img-top" alt="Imagen del producto">
    <div class="card-body">
        <h4 class="card-title">{{ producto.nombre }}</h4>
        <p class="card-text">Precio: {{ producto.precio }}</p>
        <p class="card-text"><small class="text-muted">{{ producto.descripcion }}</small></p>

        <button (click)="verProducto()" class="btn btn-primary btn-block">
          Ver mas...
        </button>
        <!-- <a [routerLink]="['/productos', i]" 
         class="btn btn-primary"> Ver mas link...</a> -->
      </div>
    </div>
