<nav class="navbar navbar-expand-md navbar-dark navbar-custom shadow">

  <!-- Logo -->
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="/img/producto.png" width="50" height="50" class="me-2 rounded-circle">
    <span class="fw-bold">MiTienda</span>
  </a>

  <!-- Botón responsive -->
  <button class="navbar-toggler" type="button"
    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Contenido -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Menú -->
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item mx-2" routerLinkActive="active">
        <a class="nav-link px-3" [routerLink]="['productos']">
          🛍️ Productos
        </a>
      </li>
    </ul>
  </div>
</nav>